<div id="about-us-modal" class="modal container-narrow" style="display: none;">
    <div class="modal-body" style="max-height: 90%;">
        <div class="masthead">
            <h3 class="muted brand brand-bg">Glimpse</h3>
        </div>

        <hr>

        <div style="overflow-y: auto; max-height: 350px;">
            <div class="jumbotron">
                <h1>La revolución del correo electrónico</h1>
                <p class="lead">Glimpse rediseña completamente la experiencia con correo electrónico, transformando las características de los mensajes en elementos visuales intuitivos y fáciles de reconocer.</p>
            </div>

            <hr>

            <div class="row-fluid marketing">
                <div class="span6">
                    <h4>Mapa de mensajes</h4>
                    <p>Tu bandeja de entrada dejó de ser una lista para transformarse en un mapa completo de emails, totalmente navegable.</p>

                    <h4>Menos tiempo de lectura</h4>
                    <p>Ahora tus emails dicen más. Ellos se encargan de decirte si merece la pena leerlos, de que tratan, y mucho más.</p>

                    <h4>Navegación intuitiva</h4>
                    <p>Puedes desplazarte a través del mapa con solo hacer click y arrastrar en él. Además puedes hacer zoom en tus zonas de interés.</p>
                </div>

                <div class="span6">
                    <h4>Distancias temporales</h4>
                    <p>Ya no tienes que buscar fechas para saber que tan viejo es un email, solo tienes que ver que tan detrás se encuentra en el mapa.</p>

                    <h4>Memoria visual</h4>
                    <p>Tus emails se disponen en el mapa formando constelaciones y formas variadas, ¡ahora es más facil recordar donde se encuentran!</p>

                    <h4>Integración de cuentas</h4>
                    <p>No necesitas preocuparte por mantener diferentes cuentas de email, ¡agrega todas a Glimpse!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p>&copy; Glimpse 2013</p>
    </div>

</div>
<!-- /container -->
