<div id="compose_pannel">
    <div class="ui-dialog-content">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>
                        <textarea rows="1" placeholder="Destinatarios..." id="email-to" class="compose-text"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea rows="1" placeholder="Asunto..." id="email-subject" class="compose-text"></textarea>
                    </td>
                </tr>
                <tr class="hidden">
                    <td id="email-from"></td>
                </tr>
@*                <tr>
                    <td>
                        <input type="file" id="attachments" multiple>
                    </td>
                </tr>*@
                <tr>
                    <td>
                        <textarea cols="100" rows="400" id="text_editor"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui-dialog-buttonpane"></div>
    <span class="hidden progress-circular">@{Html.RenderPartial("loading_widjet");}</span>
</div>
