<div id="config-view" class="modal hide fade in" style="display: none;" data-backdrop="static">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4>Configura tu cuenta Glimpse</h4>
    </div>

    <div class="modal-body" style="max-height: 500px;">
        <ul class="nav nav-tabs">
            <li id="config-personaldata" data-body-id="config-personaldata-cont" class="active">
                <a>Datos Personales</a>
            </li>
            <li id="config-mailaccount" data-body-id="config-mailaccount-cont">
                <a>Cuentas de Email</a>
            </li>
            <li id="config-password" data-body-id="config-password-cont">
                <a>Contraseña</a>
            </li>
        </ul>

        <div id="config-errors-cont" class="validation-summary-errors hidden">
            <ul id="config-errors-list"></ul>
            <hr />
        </div>

        <div id="config-password-cont" class="nav-body hidden">
            <form class="form-horizontal" id="config-password-form" data-action="changePassword">
                <div class="control-group">
                    <label class="control-label" for="config-inp-oldpass">Contraseña Actual</label>
                    <div class="controls">
                        <input type="password" id="config-inp-oldpass" data-name="oldPassword" required>
                    </div>
                </div>
                <br />
                <div class="control-group">
                    <label class="control-label" for="config-inp-newpass1">Contraseña nueva</label>
                    <div class="controls">
                        <input type="password" id="config-inp-newpass1" data-name="newPassword" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="config-inp-newpass2">Confirma Contraseña nueva</label>
                    <div class="controls">
                        <input type="password" id="config-inp-newpass2" data-name="newPasswordConfirmation" required>
                    </div>
                </div>
                <button id="config-password-submit" type="submit" class="btn btn-primary" style="margin-left: 25%">Guardar</button>
            </form>
        </div>

        <div id="config-mailaccount-cont" class="hidden nav-body">
            <form class="form-horizontal" id="config-mailaccount-form" data-action="manageMailAccounts">
                <div style="max-height: 320px; overflow-y: auto;">
                    <div class="control-group">
                        <label class="control-label" for="config-inp-account1">Cuenta de Email #1</label>
                        <div class="controls">
                            <input type="email" id="config-inp-account1" data-name="mailAccount1">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-password1">Contraseña #1</label>
                        <div class="controls">
                            <input type="password" id="config-inp-password1" data-name="password1">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-main1">¿Cuenta principal?</label>
                        <div class="controls">
                            <input type="checkbox" id="config-inp-main1" data-name="isMainAccount1">
                        </div>
                    </div>
                    <br />

                    <div class="control-group">
                        <label class="control-label" for="config-inp-account2">Cuenta de Email #2</label>
                        <div class="controls">
                            <input type="email" id="config-inp-account2" data-name="mailAccount2">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-password2">Contraseña #2</label>
                        <div class="controls">
                            <input type="password" id="config-inp-password2" data-name="password2">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-main2">¿Cuenta principal?</label>
                        <div class="controls">
                            <input type="checkbox" id="config-inp-main2" data-name="isMainAccount2">
                        </div>
                    </div>
                    <br />

                    <div class="control-group">
                        <label class="control-label" for="config-inp-account3">Cuenta de Email #3</label>
                        <div class="controls">
                            <input type="email" id="config-inp-account3" data-name="mailAccount3">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-password3">Contraseña #3</label>
                        <div class="controls">
                            <input type="password" id="config-inp-password3" data-name="password3">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="config-inp-main3">¿Cuenta principal?</label>
                        <div class="controls">
                            <input type="checkbox" id="config-inp-main3" data-name="isMainAccount3">
                        </div>
                    </div>
                </div>
                <hr />
                <button id="config-mailaccount-submit" type="submit" class="btn btn-primary" style="margin-left: 25%">Guardar</button>
            </form>
        </div>

        <div id="config-personaldata-cont" class="nav-body">
            <form class="form-horizontal" id="config-personaldata-form" data-action="editPersonalData">
                <div class="control-group">
                    <label class="control-label" for="config-inp-name">Nombre</label>
                    <div class="controls">
                        <input type="text" id="config-inp-name" data-name="firstName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="config-inp-surname">Apellido</label>
                    <div class="controls">
                        <input type="text" id="config-inp-surname" data-name="lastName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="config-inp-country">País</label>
                    <div class="controls">
                        <input type="text" id="config-inp-country" data-name="country">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="config-inp-city">Ciudad</label>
                    <div class="controls">
                        <input type="text" id="config-inp-city" data-name="city">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="config-inp-phone">Teléfono</label>
                    <div class="controls">
                        <input type="tel" id="config-inp-phone" data-name="tel">
                    </div>
                </div>
                <button id="config-personaldata-submit" type="submit" class="btn btn-primary" style="margin-left: 25%">Guardar</button>
            </form>
        </div>
    </div>
</div>
