@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Problemas</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="well" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 150px;">
        <hgroup>
            <h3>¡Ups!</h3>
            <h4>Tuvimos un problema y estamos tratando de solucionarlo, por favor intentá de nuevo más tarde.</h4>
        </hgroup>
    </div>
</body>
</html>
