body {
    padding-top: 60px;
    background: rgb(154, 230, 164);
    background: -webkit-linear-gradient(top, rgb(154, 230, 164), rgb(65, 161, 78));
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
}

#email-container {
    height: 480px;
    /*border: 2px inset rgba(255, 255, 255, 0.3);*/
    position: relative;
    overflow: hidden;
    padding: 0;
    /*background: rgb(0, 0, 0);*/
}

.brand {
    font-family: 'Freestyle Script';
    font-size: 32px !important;
    font-weight: bold !important;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,1);
    cursor: pointer;

    /*  Color de emails sin etiqueta    */
    background-color: rgb(159, 182, 205);

    -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2) inset;
    /*  Habilitar aceleracion por hardware  */
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);

    -webkit-transition: opacity 0.5s, box-shadow 0.5s;
    transition: opacity 0.5s, box-shadow 0.5s;
}

    .circle.transition {
        transition: left 0.5s ease-out, top 0.5s ease-out;
        -webkit-transition: left 0.5s ease-out, top 0.5s ease-out;
    }


    /*  Para alineación vertical dentro de las bolas    */
    .circle:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

.centered {
    width: 75px;
    font-style: normal;
    color: #fff;
    word-wrap: break-word;
    font-size: small;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    text-indent: 5px;
}
    /*  */

    .centered .pre {
        font-size: xx-small;
    }

.circle.new {
    animation-duration: 0.2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.circle.focused {
    -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.7) inset;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.7) inset;
}

.circle.selected {
    overflow: visible;
    z-index: +10;
    text-shadow: 0 0 1px #fff, 0 2px 4px rgba(0,0,0,1);
}

.circle.previewed {
    /*box-shadow: inset 0 0 0 8px rgba(255,255,255,0.4), 0 0 32px 4px;
    -webkit-box-shadow: inset 0 0 0 8px rgba(255,255,255,0.4), 0 0 32px 4px;
    -moz-box-shadow: inset 0 0 0 8px rgba(255,255,255,0.4), 0 0 32px 4px;
    -o-box-shadow: inset 0 0 0 8px rgba(255,255,255,0.4), 0 0 32px 4px;
    -ms-box-shadow: inset 0 0 0 8px rgba(255,255,255,0.4), 0 0 32px 4px;*/
    animation: none !important;
    -webkit-animation: none !important;
    opacity: 1;
    overflow: visible;
    z-index: +10;
    text-shadow: 0 0 1px #fff, 0 2px 4px rgba(0,0,0,1);
    /*border-style: dashed;
    border-color: black;
    border-width: 2px;*/
}

.circle.importance1 {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.circle.importance2 {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.circle.importance3 {
}

.circle.importance4 {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.circle.importance5 {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@-webkit-keyframes blink {
    from {
    }

    to {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
    }
}

.coord {
    position: absolute;
    text-align: center;
    font-style: normal;
    font-family: 'Open Sans', Arial, sans-serif;
    width: 75px;
    color: white;
    text-shadow: 0 2px 4px #000;
}

    .coord.hidable {
        text-align: center;
        color: #000;
        background-color: #f5f5f5;
        opacity: 0.9;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        font-size: small;
        z-index: 10;
        border-radius: 10%;
    }

#dateTime {
    width: 125px;
}

/*  Para alineacion vertical de la coordenada "from"    */
#from {
    line-height: 75px;
    width: 75px;
}

.hidden {
    visibility: hidden;
}

div.icons {
    cursor: pointer;
}

.icon {
    top: 10px;
    position: absolute;
}

.icon-refresh {
    left: 70px;
}

.icon-zoom-out {
    left: 30px;
}

.icon-zoom-in {
    left: 10px;
}

.label-glimpse {
    margin-top: 2px;
    display: block;
    cursor: pointer;
}

    .label-glimpse:hover {
        opacity: 0.8;
    }

.label-hidden {
    box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.7);
    -o-box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.7);
    -ms-box-shadow: inset 0 0 8px 8px rgba(0,0,0,0.7);
}

#labels-header {
    margin-top: 10px;
}

.compose-text {
    width: 100%;
    resize: vertical;
    height: 22px;
    min-height: 22px;
    max-height: 66px;
}

.mail-view-addresses {
    width: 100%;
    margin-bottom: 5px;
    background-color: aliceblue;
}

.mail-view-address {
    width: 50%;
    vertical-align: baseline;
    margin: 2px 2px 2px 2px;
}


#mail-view-from {
    width: 100%;
    vertical-align: middle;
}

#mail-view-date {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mail-view-subject {
    vertical-align: middle;
    margin-bottom: 5px;
    max-height: 60px;
}

#mail-view-date-container {
    margin-bottom: 5px;
}

#mail-view-body-container {
    height: 300px;
}

#mail-view-header {
    max-height: 70px;
    overflow-y: auto;
}

.mail-view-addresses .label {
    margin-right: 4px;
}

.separator {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 4px;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}
