body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#email-container {
    height: 480px;
    border: 2px solid;
    position: relative;
}

.brand {
    font-family: 'Freestyle Script';
    font-size: 32px !important;
}

.circle {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    position: absolute;
    text-align: center;

    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

    border: 1px solid black;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);

    -webkit-transition: border-radius .2s ease, width .2s ease, height .2s ease, left 2s ease, top 2s ease;
    -moz-transition: border-radius .2s ease, width .2s ease, height .2s ease, left 2s ease, top 2s ease;
    -o-transition: border-radius .2s ease, width .2s ease, height .2s ease, left 2s ease, top 2s ease;
    transition: border-radius .2s ease, width .2s ease, height .2s ease, left 2s ease, top 2s ease;
}

    .circle:hover {
        /*width: 120px;
        height: 120px;*/
        z-index: 99;
        border-radius: 10%;
    }
