#upper {
    width: 100%;
    position: fixed;
    height: 300px;
    /*background-color: rgb(81, 127, 164);*/
    background: linear-gradient(rgb(81, 127, 164), white);
}

#info {
    padding-top: 50px;
    display: block;
    position: relative;
}

#glimpse-brand {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 1200%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 4px 0 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

#slogan {
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    font-style: italic;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 85px;
}

#glimpse-balls {
    background-image: url('../Content/img/balls.png');
    background-size: 100% 100%;
    width: 410px;
    height: 380px;
    border-width: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.3);*/
}

.form-signin {
    display: block;
    position: relative;
    padding: 19px 29px 29px;
    margin: 40px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 8px 12px rgba(0,0,0,.5);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.registration-modal {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

#registration-view {
    padding: 10px;
}

#registration-view-title {
    margin-bottom: 50px;
}

#registration-view .input-block-level {
    margin-bottom: 20px;
}

 html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
          line-height: 30px;
          text-shadow: 0 0 2px #000;
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
