@{
    ViewBag.Title = "Glimpse";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acerca de nosotros</title>
</head>
<body>
    <div class="well">
        <p>Glimpse rediseña completamente la experiencia con correo electrónico, transformando las características de los mensajes en elementos visuales intuitivos y fáciles de reconocer.</p>
    </div>
</body>
</html>
